{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid">
        <div class="text-center mt-5">
            <div class="error mx-auto" data-text="{{ error }}">
                <p class="m-0">{{ errorshort }}</p>
            </div>
            <p class="text-dark mb-5 lead">{{ error }}</p><img
                src="{{ url_for('static', filename='assets/img/creeper.png') }}" height="200">
            <p class="text-black-50 mb-0">Uh oh.</p><a href="/">← Back to Dashboard</a></div>
    </div>
    </div>

{% endblock %}