{% extends 'base.html' %}
{% block content %}
            <div class="container">
                <ul>
                    <li><a href="/user/add">Add new user</a></li>
                    <li><a href="/alerts">Add / Edit Alerts</a></li>
                    <li><a href="/server/update">Update server details</a></li>
                    <li><a href="/user/edit">Edit User</a></li>
                    <li><a href="/gallery/edit">Upload Images to gallery</a></li>
                    <li><a href="/meeting/edit">Add / Edit Meetings</a></li>
                </ul>
            </div>
        </div>
   {% endblock %}