{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Team</h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Members</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 text-nowrap">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Show&nbsp;<select
                                class="form-control form-control-sm custom-select custom-select-sm">
                            <option value="10" selected="">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>&nbsp;</label></div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search"
                                                                                                         class="form-control form-control-sm"
                                                                                                         aria-controls="dataTable"
                                                                                                         placeholder="Search"></label>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table dataTable my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>MC Name</th>
                            <th>Grade</th>
                            {% if u.loggedIn is equalto True %}
                            <th>Email</th>
                            {%  endif %}
                            <th>Areas</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- for each member in member list -->
                        {%  for m in ml %}
                        <tr>
                            <td>
                                {% if m[6] is equalto "default" %}
                                    <img class="rounded-circle mr-2"
                                         width="30" height="30" src="{{ url_for('static', filename='assets/img/avatars/default.jpeg')}}">
                                {%  else %}
                                    <img class="rounded-circle mr-2" src="{{ m[6] }}" width="30" height="30" src="{{ m[6] }}">

                                {% endif %}
                                {{ m[0] }}
                            </td>
                            <td>{{ m[1] }}</td>
                            <td>{{ m[2] }}</td>
                            <td>{{ m[3] }}</td>
                            {% if u.loggedIn is equalto True %}
                                <td>{{ m[4] }}</td>
                             {% endif %}
                            <td>{{ m[5] }}</td>
                        </tr>

                       {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
*
{% endblock %}